body {
  background-color: hsl(212, 45%, 89%);
  font-family: "outfit";
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

p {
  font-size: 15px;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
}

h1 {
  color: hsl(218, 44%, 22%);
  font-size: 18px;
  font-weight: 700;
}

img {
  border-radius: 10px;
  margin: 10px 15px;
}

.qr-code-component-container {
  background-color: white;
  border-radius: 10px;
  max-width: 375px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.description-container {
  margin: 5px 25px 15px 25px;
  text-align: center;
}
